body {
	line-height: 1.6;
	font-size: 18px;
	color: #444;
}
h1, h2, h3 {
	line-height: 1.2
}

div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#marqueetxt {
	font-weight: bold;
	text-align: center;
}

a {
	color: purple;
}

#title {
	text-align: center;
}